
 <div class="d-flex align-items-center p-3 my-3 text-white bg-secondary rounded shadow-sm">
  <div class="d-flex align-items-center mr-auto">
    <i class="{{iconClass}}"></i>
    <!-- <img class="mr-3" src="/docs/4.6/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48"> -->
    <div class="lh-100">
      <h2 class="mb-0">{{titulo}}</h2>
      <small>{{subtitulo}}</small>
    </div>
  </div>

  <div *ngIf="botaoListar">
    <button class="btn btn-outline-light" (click)="listar();">
      Listar {{titulo}}
    </button>
  </div>
</div>

