<app-titulo [titulo] = "'Eventos'"></app-titulo>>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="exibirImagem()">
          <i class="{{isImagemExibida ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{isImagemExibida?"Ocultar":"Exibir"}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img  src="/assets/{{evento.imagemURL}}"  alt="Foto encgraçada do Evento"
          [style.width.px]="widthImg" [style.margin.px] = "marginImg"
          [collapse]="!isImagemExibida" [isAnimated]="true">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormat}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0]}}</td>
      <td>

        <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
          <!-- Editar -->
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Editar" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
          <!-- Excluir -->
        </button>
        </div>

      </td>
    </tr>
  </tbody>
  <tfoot><tr *ngIf="!eventosFiltrados.length"><td colspan="8" class="text-center"><h4>Nenhum Evento Encontrado</h4></td></tr></tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
